$color-white: #FFFFFF;
$color-red: #EB3F43;
$color-black: #000000;
$color-gray: #575757;
$color-lightblue: #0362424D;
$color-green: #036242;

.color-red {
  color: $color-red;
}
.color-black {
  color: $color-black;
}
.color-white {
  color: $color-white;
}
.color-gray {
  color: $color-gray;
}
.color-lightblue {
  color: $color-lightblue;
}
.color-green {
  color: $color-green;
}