
@font-face {
  font-family: 'CooperHewitt';
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/cooper-hewitt/CooperHewitt-Thin.otf") format('otf')
}
@font-face {
  font-family: 'CooperHewitt';
  font-weight: 100;
  font-style: italic;
  src: url("../fonts/cooper-hewitt/CooperHewitt-ThinItalic.otf") format('otf')
}

@font-face {
  font-family: 'CooperHewitt';
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/cooper-hewitt/CooperHewitt-Light.otf") format('otf')
}
@font-face {
  font-family: 'CooperHewitt';
  font-weight: 200;
  font-style: italic;
  src: url("../fonts/cooper-hewitt/CooperHewitt-LightItalic.otf") format('otf')
}

@font-face {
  font-family: 'CooperHewitt';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/cooper-hewitt/CooperHewitt-Book.otf") format('otf')
}
@font-face {
  font-family: 'CooperHewitt';
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/cooper-hewitt/CooperHewitt-BookItalic.otf") format('otf')
}

@font-face {
  font-family: 'CooperHewitt';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/cooper-hewitt/CooperHewitt-Medium.otf") format('otf')
}
@font-face {
  font-family: 'CooperHewitt';
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/cooper-hewitt/CooperHewitt-MediumItalic.otf") format('otf')
}

@font-face {
  font-family: 'CooperHewitt';
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/cooper-hewitt/CooperHewitt-Semibold.otf") format('otf')
}
@font-face {
  font-family: 'CooperHewitt';
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/cooper-hewitt/CooperHewitt-SemiboldItalic.otf") format('otf')
}

@font-face {
  font-family: 'CooperHewitt';
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/cooper-hewitt/CooperHewitt-Bold.otf") format('otf')
}
@font-face {
  font-family: 'CooperHewitt';
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/cooper-hewitt/CooperHewitt-BoldItalic.otf") format('otf')
}

@font-face {
  font-family: 'CooperHewitt';
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/cooper-hewitt/CooperHewitt-Heavy.otf") format('otf')
}
@font-face {
  font-family: 'CooperHewitt';
  font-weight: 900;
  font-style: italic;
  src: url("../fonts/cooper-hewitt/CooperHewitt-HeavyItalic.otf") format('otf')
}